.menu-bar {
  display: flex;
  justify-content: space-between;

  text-decoration: none;

  .menu-bar-start {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .icon {
    margin-right: 1rem;
  }
}
