@import "../../index.scss";

.menu-bar {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $background !important;

  .icon {
    margin-right: 1rem;
  }
}